.b-form
   header Module Form
   dl
     dt
        Name
     dd
       input.b-form-name(type="text",name="txtName")
     dt
       Phone 
     dd
       input.b-form-phone(type="text",name="txtPhone")
   button.b-form-submit Enviar!